spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:6543}/${DB_NAME:postgres}?user=${DB_USERNAME:postgres}.${DB_TENANT:postgres}&password=${DB_PASSWORD}&prepareThreshold=0&preparedStatementCacheQueries=0
    username: ${DB_USERNAME:postgres}.${DB_TENANT:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
      idle-timeout: 10000
      max-lifetime: 300000
      connection-timeout: 20000
      leak-detection-threshold: 60000
      
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext
        format_sql: true
        jdbc:
          batch_size: 15
          
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    create-schemas: false
    default-schema: public

logging:
  level:
    root: INFO
    com.translogistics.hub: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.zaxxer.hikari: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  show-actuator: true
